.form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.input {
    font-size: 20px;
    padding: 5px 10px 5px 5px;
    margin-bottom: 25px;
}
.button {
    display: block;
    width: 100%;
}

.item {
    border: 1px solid red;
    text-align: left;
    padding: 15px;
}
