.form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 50px;
}

.input {
    font-size: 20px;
    padding: 5px 10px 5px 5px;
    margin-bottom: 25px;
}

.button {
    display: block;
    width: 100%;
    transition: background-color 500ms;
}
.button:hover {
    background-color: #fff;
    color: #000;
}   

.list {
    border: 1px solid red;
    padding: 20px;
    font-size: 18px;
    text-align: left;
}